**MAESTRÍA EN INTELIGENCIA ARTIFICIAL APLICADA**

**Curso: TC4029 - Ciencia y analítica de datos**

Tecnológico de Monterrey

Prof Grettel Barceló Alonso

**Semana 3**
Bases, almacenes y manipulación de datos

---

*   NOMBRE: Carolina Valle Gutiérrez
*   MATRÍCULA: A01734834

---

En esta actividad usarás la base de datos relacional `classicmodels` (MySQL), compuesta por las siguientes tablas:

*   `Customers`: almacena los datos de los clientes.
*   `Products`: almacena una lista de modelos de coches a escala.
*   `ProductLines`: almacena una lista de categorías de líneas de productos.
*   `Orders`: almacena los pedidos de venta realizados por los clientes.
*   `OrderDetails`: almacena elementos de línea de pedidos de ventas para cada pedido de ventas.
*   `Payments`: almacena los pagos realizados por los clientes en función de sus cuentas.
*   `Employees`: almacena toda la información de los empleados, así como la estructura de la organización, como quién informa a quién.
*   `Offices`: almacena los datos de la oficina de ventas.

Revisa con detalle su esquema para que comprendas cómo se relacionan las tablas anteriores.

Recuerda que:


*   Una **clave primaria** es un atributo (o conjunto) que identifica unívocamente a cada registro en la tabla.
*   Una **clave foránea** (externa o ajena) es un atributos (o conjunto) en una tabla que es una clave primaria en otra (o posiblemente la misma) tabla.
*   Las **relaciones** son las líneas que conectan una tabla con otra y el extremo determina la cardinalidad. Las relaciones con línea continua (identificadora) representan una transformación donde la clave primaria de una tabla pasa a ser foránea y primaria (al mismo tiempo) de otra. Las relaciones con línea discontinua (no identificadora) representan una transformación donde la clave primaria de una tabla pasa a ser sólo foránea en otra.

# **Parte 1**. SQLAlchemy y SQL básico

In [199]:
#pip install pymysql

Requirement already satisfied: pymysql in c:\users\cavag\appdata\local\programs\python\python312\lib\site-packages (1.1.1)Note: you may need to restart the kernel to use updated packages.

In [200]:
import sqlalchemy as sqla
import pymysql
import pandas as pd

1.	Crea el motor `sqlalchemy`, con el método `create_engine()` y una conexión con `connect()` como se muestra a continuación:

In [201]:
# Crear el motor (dialecto://usuarioBD:clave@ipHostDBMS:puerto/esquema
db = sqla.create_engine('mysql+pymysql://mnaTC4029User:mnaTC4029Pass!@20.106.217.214:3306/classicmodels', pool_recycle=3600)

# Crea una conexión para luego invocar declaraciones SQL
conn = db.connect()

Escribe las consultas en SQL para obtener:

2.	La información de las líneas de productos.

In [202]:
query = "SELECT * FROM productlines;"
productlines_df = pd.read_sql(query, conn)
print(productlines_df)

        productLine                                    textDescription  \
0      Classic Cars  Attention car enthusiasts: Make your wildest c...
1       Motorcycles  Our motorcycles are state of the art replicas ...
2            Planes  Unique, diecast airplane and helicopter replic...
3             Ships  The perfect holiday or anniversary gift for ex...
4            Trains  Model trains are a rewarding hobby for enthusi...
5  Trucks and Buses  The Truck and Bus models are realistic replica...
6      Vintage Cars  Our Vintage Car models realistically portray a...

  htmlDescription image
0            None  None
1            None  None
2            None  None
3            None  None
4            None  None
5            None  None
6            None  None

3.	La información de los empleados ordenados por nombre (`firstName`).

In [203]:
q2 = """SELECT * FROM employees
ORDER BY firstName"""

employees_df = pd.read_sql(q2,conn)
print(employees_df)

    employeeNumber   lastName firstName extension  \
0             1611     Fixter      Andy      x101
1             1143        Bow   Anthony     x5428
2             1504      Jones     Barry      x102
3             1002     Murphy     Diane     x5800
4             1286      Tseng  Foon Yue     x2248
5             1323     Vanauf    George     x4102
6             1102     Bondur    Gerard     x5408
7             1370  Hernandez    Gerard     x2028
8             1076   Firrelli      Jeff     x9273
9             1188   Firrelli     Julie     x2173
10            1501       Bott     Larry     x2311
11            1165   Jennings    Leslie     x3291
12            1166   Thompson    Leslie     x4065
13            1337     Bondur      Loui     x6493
14            1621      Nishi      Mami      x101
15            1702     Gerard    Martin     x2312
16            1056  Patterson      Mary     x4611
17            1401   Castillo    Pamela     x2759
18            1612      Marsh     Peter      x102
19            1216  Patterson     Steve     x4334
20            1619       King       Tom      x103
21            1088  Patterson   William     x4871
22            1625       Kato   Yoshimi      x102

                              email officeCode  reportsTo  \
0      afixter@classicmodelcars.com          6     1088.0
1         abow@classicmodelcars.com          1     1056.0
2       bjones@classicmodelcars.com          7     1102.0
3      dmurphy@classicmodelcars.com          1        NaN
4       ftseng@classicmodelcars.com          3     1143.0
5      gvanauf@classicmodelcars.com          3     1143.0
6      gbondur@classicmodelcars.com          4     1056.0
7    ghernande@classicmodelcars.com          4     1102.0
8    jfirrelli@classicmodelcars.com          1     1002.0
9    jfirrelli@classicmodelcars.com          2     1143.0
10       lbott@classicmodelcars.com          7     1102.0
11   ljennings@classicmodelcars.com          1     1143.0
12   lthompson@classicmodelcars.com          1     1143.0
13     lbondur@classicmodelcars.com          4     1102.0
14      mnishi@classicmodelcars.com          5     1056.0
15     mgerard@classicmodelcars.com          4     1102.0
16   mpatterso@classicmodelcars.com          1     1002.0
17   pcastillo@classicmodelcars.com          4     1102.0
18      pmarsh@classicmodelcars.com          6     1088.0
19  spatterson@classicmodelcars.com          2     1143.0
20       tking@classicmodelcars.com          6     1088.0
21  wpatterson@classicmodelcars.com          6     1056.0
22       ykato@classicmodelcars.com          5     1621.0

                jobTitle
0              Sales Rep
1     Sales Manager (NA)
2              Sales Rep
3              President
4              Sales Rep
5              Sales Rep
6    Sale Manager (EMEA)
7              Sales Rep
8           VP Marketing
9              Sales Rep
10             Sales Rep
11             Sales Rep
12             Sales Rep
13             Sales Rep
14             Sales Rep
15             Sales Rep
16              VP Sales
17             Sales Rep
18             Sales Rep
19             Sales Rep
20             Sales Rep
21  Sales Manager (APAC)
22             Sales Rep

4.	Los países donde hay oficinas (sin duplicar).

In [204]:
q4 = "SELECT DISTINCT * FROM offices;"
offices_df = pd.read_sql(q4, conn)
print(offices_df)

  officeCode           city             phone              addressLine1  \
0          1  San Francisco   +1 650 219 4782         100 Market Street
1          2         Boston   +1 215 837 0825          1550 Court Place
2          3            NYC   +1 212 555 3000      523 East 53rd Street
3          4          Paris   +33 14 723 4404  43 Rue Jouffroy D'abbans
4          5          Tokyo   +81 33 224 5000               4-1 Kioicho
5          6         Sydney   +61 2 9264 2451     5-11 Wentworth Avenue
6          7         London  +44 20 7877 2041       25 Old Broad Street

  addressLine2       state    country postalCode territory
0    Suite 300          CA        USA      94080        NA
1    Suite 102          MA        USA      02107        NA
2      apt. 5A          NY        USA      10022        NA
3         None        None     France      75017      EMEA
4         None  Chiyoda-Ku      Japan   102-8578     Japan
5     Floor #2        None  Australia   NSW 2010      APAC
6      Level 7        None         UK   EC2N 1HN      EMEA

5.	El nombre y teléfono de los clientes de la ciudad de Nueva York (*NYC*).

In [205]:
q5= """SELECT customerName, phone FROM customers
WHERE city = 'New York'; """
customers_df = pd.read_sql(q5, conn)
print(customers_df)

Empty DataFrame
Columns: [customerName, phone]
Index: []

6.	El código y nombre de los productos del vendedor *Gearbox Collectibles* que tengan menos de 1000 unidades en stock.

In [206]:
#productVendor es el vendedor
q6 = """
SELECT productCode, productName 
FROM products 
WHERE productVendor = 'Gearbox Collectibles' AND quantityInStock < 1000;
"""
gearbox_df = pd.read_sql(q6, conn)
print(gearbox_df)

  productCode             productName
0    S18_2581          P-51-D Mustang
1    S18_2795  1928 Mercedes-Benz SSK

7.	Los tres productos más caros, desde el punto de visto de los comercializadores (`buyPrice`).

In [207]:
q7 = """SELECT * FROM products
ORDER BY buyPrice DESC
LIMIT 3;
"""
caros_df = pd.read_sql(q7, conn)
print(caros_df)

  productCode                     productName   productLine productScale  \
0    S10_4962          1962 LanciaA Delta 16V  Classic Cars         1:10
1    S18_2238  1998 Chrysler Plymouth Prowler  Classic Cars         1:18
2    S10_1949        1952 Alpine Renault 1300  Classic Cars         1:10

             productVendor                                 productDescription  \
0      Second Gear Diecast  Features include: Turnable front wheels; steer...
1     Gearbox Collectibles  Turnable front wheels; steering function; deta...
2  Classic Metal Creations  Turnable front wheels; steering function; deta...

   quantityInStock  buyPrice    MSRP
0             6791    103.42  147.74
1             4724    101.51  163.73
2             7305     98.58  214.30

8.	La cantidad de productos por línea de producto (no las existencias en inventario)

In [208]:
q8 = """SELECT productLine, COUNT(*) AS productCount
FROM products
GROUP BY productLine;
"""

nonexist_df = pd.read_sql(q8,conn)
print(nonexist_df)

        productLine  productCount
0      Classic Cars            38
1       Motorcycles            13
2            Planes            12
3             Ships             9
4            Trains             3
5  Trucks and Buses            11
6      Vintage Cars            24

9.	La cantidad de empleados por país (tomando en cuenta la ubicación de la oficina).

In [209]:
q9 = """SELECT o.country, COUNT(e.employeeNumber) AS employeeCount
FROM offices AS o
LEFT JOIN employees AS e ON o.officeCode = e.officeCode
GROUP BY o.country;
"""

emperpais = pd.read_sql(q9,conn)
print(emperpais)

     country  employeeCount
0  Australia              4
1     France              5
2      Japan              2
3         UK              2
4        USA             10

10.	El promedio de los pagos de cada uno de los clientes de España (sin incluir aquellos que no poseen ningún pago).

In [210]:
q10 = """SELECT c.customerName, AVG(p.amount) AS averagePayment
FROM customers AS c
JOIN payments AS p ON c.customerNumber = p.customerNumber
WHERE c.country = 'Spain'
GROUP BY c.customerName;
"""

pagos = pd.read_sql(q10,conn)
print(pagos)

                 customerName  averagePayment
0                 CAF Imports    23375.570000
1  Corrida Auto Replicas, Ltd    37480.030000
2          Enaco Distributors    22840.156667
3      Euro+ Shopping Channel    55056.844615
4  Iberia Gift Imports, Corp.    25493.925000

# **Parte 2**. Manipulación de datos con Pandas

11.	Carga las tablas empleadas en dataframes con el mismo nombre y resuelve las consultas anteriores con las funciones de Pandas (NO con SQL). Cuida no sobreescribir los dataframes originales al resolver las consultas. Debes obtener los mismos resultados que con SQL.

In [211]:
# Cargar las tablas en DataFrames
employees_df = pd.read_sql("SELECT * FROM employees", conn)
products_df = pd.read_sql("SELECT * FROM products", conn)
productlines_df = pd.read_sql("SELECT * FROM productlines", conn)
customers_df = pd.read_sql("SELECT * FROM customers", conn)
payments_df = pd.read_sql("SELECT * FROM payments", conn)
offices_df = pd.read_sql("SELECT * FROM offices", conn)

In [212]:
#Información de línea de productos
productlines = productlines_df.copy()
print(productlines)

        productLine                                    textDescription  \
0      Classic Cars  Attention car enthusiasts: Make your wildest c...
1       Motorcycles  Our motorcycles are state of the art replicas ...
2            Planes  Unique, diecast airplane and helicopter replic...
3             Ships  The perfect holiday or anniversary gift for ex...
4            Trains  Model trains are a rewarding hobby for enthusi...
5  Trucks and Buses  The Truck and Bus models are realistic replica...
6      Vintage Cars  Our Vintage Car models realistically portray a...

  htmlDescription image
0            None  None
1            None  None
2            None  None
3            None  None
4            None  None
5            None  None
6            None  None

In [213]:
# Información de empleados con firstName
employees = employees_df.sort_values(by='firstName').copy()
print(employees)

    employeeNumber   lastName firstName extension  \
17            1611     Fixter      Andy      x101
5             1143        Bow   Anthony     x5428
16            1504      Jones     Barry      x102
0             1002     Murphy     Diane     x5800
10            1286      Tseng  Foon Yue     x2248
11            1323     Vanauf    George     x4102
13            1370  Hernandez    Gerard     x2028
4             1102     Bondur    Gerard     x5408
2             1076   Firrelli      Jeff     x9273
8             1188   Firrelli     Julie     x2173
15            1501       Bott     Larry     x2311
6             1165   Jennings    Leslie     x3291
7             1166   Thompson    Leslie     x4065
12            1337     Bondur      Loui     x6493
20            1621      Nishi      Mami      x101
22            1702     Gerard    Martin     x2312
1             1056  Patterson      Mary     x4611
14            1401   Castillo    Pamela     x2759
18            1612      Marsh     Peter      x102
9             1216  Patterson     Steve     x4334
19            1619       King       Tom      x103
3             1088  Patterson   William     x4871
21            1625       Kato   Yoshimi      x102

                              email officeCode  reportsTo  \
17     afixter@classicmodelcars.com          6     1088.0
5         abow@classicmodelcars.com          1     1056.0
16      bjones@classicmodelcars.com          7     1102.0
0      dmurphy@classicmodelcars.com          1        NaN
10      ftseng@classicmodelcars.com          3     1143.0
11     gvanauf@classicmodelcars.com          3     1143.0
13   ghernande@classicmodelcars.com          4     1102.0
4      gbondur@classicmodelcars.com          4     1056.0
2    jfirrelli@classicmodelcars.com          1     1002.0
8    jfirrelli@classicmodelcars.com          2     1143.0
15       lbott@classicmodelcars.com          7     1102.0
6    ljennings@classicmodelcars.com          1     1143.0
7    lthompson@classicmodelcars.com          1     1143.0
12     lbondur@classicmodelcars.com          4     1102.0
20      mnishi@classicmodelcars.com          5     1056.0
22     mgerard@classicmodelcars.com          4     1102.0
1    mpatterso@classicmodelcars.com          1     1002.0
14   pcastillo@classicmodelcars.com          4     1102.0
18      pmarsh@classicmodelcars.com          6     1088.0
9   spatterson@classicmodelcars.com          2     1143.0
19       tking@classicmodelcars.com          6     1088.0
3   wpatterson@classicmodelcars.com          6     1056.0
21       ykato@classicmodelcars.com          5     1621.0

                jobTitle
17             Sales Rep
5     Sales Manager (NA)
16             Sales Rep
0              President
10             Sales Rep
11             Sales Rep
13             Sales Rep
4    Sale Manager (EMEA)
2           VP Marketing
8              Sales Rep
15             Sales Rep
6              Sales Rep
7              Sales Rep
12             Sales Rep
20             Sales Rep
22             Sales Rep
1               VP Sales
14             Sales Rep
18             Sales Rep
9              Sales Rep
19             Sales Rep
3   Sales Manager (APAC)
21             Sales Rep

In [214]:
#Países donde hay oficinas
pais = offices_df['country'].unique()
print(pais)

['USA' 'France' 'Japan' 'Australia' 'UK']

In [215]:
#Clientes en Nueva York 
nyc_cust = customers_df[customers_df['city'] == 'New York'][['customerName', 'phone']].copy()
print(nyc_cust)

Empty DataFrame
Columns: [customerName, phone]
Index: []

In [216]:
# Gearbox collectibles 

gearbox_df = products_df[(products_df['productVendor'] == 'Gearbox Collectibles') & 
                         (products_df['quantityInStock'] < 1000)][['productCode', 'productName']].copy()

# Mostrar los resultados
print(gearbox_df)

   productCode             productName
30    S18_2581          P-51-D Mustang
32    S18_2795  1928 Mercedes-Benz SSK

In [217]:
#Productos mas caros # Los tres productos más caros
caros = products_df.nlargest(3, 'buyPrice').copy()
print(caros)

   productCode                     productName   productLine productScale  \
5     S10_4962          1962 LanciaA Delta 16V  Classic Cars         1:10
25    S18_2238  1998 Chrysler Plymouth Prowler  Classic Cars         1:18
1     S10_1949        1952 Alpine Renault 1300  Classic Cars         1:10

              productVendor  \
5       Second Gear Diecast
25     Gearbox Collectibles
1   Classic Metal Creations

                                   productDescription  quantityInStock  \
5   Features include: Turnable front wheels; steer...             6791
25  Turnable front wheels; steering function; deta...             4724
1   Turnable front wheels; steering function; deta...             7305

    buyPrice    MSRP
5     103.42  147.74
25    101.51  163.73
1      98.58  214.30

In [218]:
#Línea 
prodlinea = products_df.groupby('productLine').size().reset_index(name='productCount').copy()
print(prodlinea)

        productLine  productCount
0      Classic Cars            38
1       Motorcycles            13
2            Planes            12
3             Ships             9
4            Trains             3
5  Trucks and Buses            11
6      Vintage Cars            24

In [219]:
# Empleados por país
numem = offices_df.merge(employees_df, on='officeCode', how='left')
paisnum = numem.groupby('country').size().reset_index(name='employeeCount').copy()
print(paisnum)

     country  employeeCount
0  Australia              4
1     France              5
2      Japan              2
3         UK              2
4        USA             10

In [220]:
# Clientes de españa

espcust = customers_df[customers_df['country'] == 'Spain'] #Filtro para solo clientes españoles

# Calcular el promedio de pagos
pagos = payments_df[payments_df['customerNumber'].isin(espcust['customerNumber'])]
promediopagos = pagos.groupby('customerNumber')['amount'].mean().reset_index(name='averagePayment').copy()
print(promediopagos)

   customerNumber  averagePayment
0             141    55056.844615
1             216    22840.156667
2             344    23375.570000
3             458    37480.030000
4             484    25493.925000

In [221]:
#productVendor es el vendedor
q6 = """
SELECT productCode, productName 
FROM products 
WHERE productVendor = 'Gearbox Collectibles' AND quantityInStock < 1000;
"""
gearbox_df = pd.read_sql(q6, conn)
print(gearbox_df)

  productCode             productName
0    S18_2581          P-51-D Mustang
1    S18_2795  1928 Mercedes-Benz SSK

# **Parte 3**. Cliente de Python Firestore

En esta fase te conectarás a una base de datos no relacional de Firestore desde Python. Para ello utilizarás los módulos `credentials` y `firestore` de la biblioteca `firebase_admin`.

In [222]:
# pip install firebase_admin

In [223]:
import firebase_admin
from firebase_admin import credentials
from firebase_admin import firestore

El archivo `veterinary.json` almacena la clave privada para autenticar una cuenta y autorizar el acceso a los servicios de Firebase. A través de la función `Certificate()`, se regresa una credencial inicializada, que puedes utilizar para crear una nueva instancia de la aplicación. Después de eso, tu conexión a Firestore utilizará las reglas de seguridad establecidas para la base de datos y el usuario autenticado.

In [224]:
from google.colab import drive
drive.mount('/content/drive')

import os
DIR = "/content/drive/MyDrive/Colab Notebooks/MNA/TC4029 - Ciencia y analítica de datos/Semana 3/Actividad3_BD_Manipulacion"
os.chdir(DIR)

ModuleNotFoundError: No module named 'google.colab'

In [182]:
# Clave privada 
cred = credentials.Certificate('veterinary.json')
firebase_admin.initialize_app(cred)
db = firestore.client()

In [197]:
# Colección PET_OWNER
petowner_ref = db.collection('PET_OWNER')
petowners = petowner_ref.stream()

# Almacenar los datos
petowner_data = []

# Recorrer los documentos anexar los datos a la lista creada anteriormente
for doc in petowners:
    petowner_data.append({'id': doc.id, **doc.to_dict()})  # Agregar el id y los datos del documento

# Crear un DataFrame con pandas
petowner_df = pd.DataFrame(petowner_data)
print(petowner_df)

                     id                        email         phone  \
0  0D6yFSs2eu4nYwf2dnQ0                         None  555-454-3465
1  98357ufgjmWUxjnAuzbz    miles.trent@somewhere.com          None
2  AFtZincSZxjC4Mcxf9Pf      liz.frier@somewhere.com  555-537-6543
3  GYDixDwHjMyihjL8TmsM                         None  555-454-1243
4  IpxTuB6FILhwQFcspLws  'marcha.downs@somewhere.com  555-537-8765
5  QoXBfS1JdRp6BqgLzaAz                         None  555-454-2354
6  eUtZ44lPRbSHXX04EDp7   nigel.melnik@somewhere.com  555-232-5678
7  n2GG9rlfGOmE0P4TcU0T  richard.james@somewhere.com  555-537-7654
8  pDlJlul8EJXO8FBJvFkN     jim.rogers@somewhere.com  555-232-3456
9  tAlJ74xQ7tT4TUHwZgmH    mary.keenan@somewhere.com  555-232-4567

  ownerFirstName ownerLastName
0            Sam        Taylor
1          Miles         Trent
2            Liz         Frier
3          Jenny      Mayberry
4         Marsha         Downs
5            Ken       Roberts
6          Nigel        Melnik
7        Richard         James
8            Jim        Rogers
9           Mary        Keenan

In [198]:
firebase_admin.delete_app(firebase_admin.get_app())